<h1>A Hold Will Be Placed For You</h1>

<p>
  <%= render GenericValueWithLabelComponent.new label: 'Title', value: @place_hold_form_params[:title] %> <br>
  <%= render GenericValueWithLabelComponent.new label: 'Author', value: @place_hold_form_params[:author] %>
</p>

<%= form_with url: '/holds', local: true, method: :post do %>
  <%= render PlaceHoldHiddenInputComponent.new(barcode: @place_hold_form_params[:barcode]) %>
  <%= hidden_field_tag :catkey, params[:catkey] %>
  <%= render partial: 'holds/form_inputs', locals: { selected: @place_hold_form_params[:pickup_library],
                                                     validate_pickup_info: true,
                                                     make_default: true } %>
  <%= render PlaceHoldCheckboxWrapperComponent.new volumetric_calls: @place_hold_form_params[:volumetric_calls] %>
  <%= submit_tag('Place Hold', class: 'btn btn-info') %>
  <%= link_to 'Cancel', Rails.application.config.catalog_url + @place_hold_form_params[:catkey], class: 'btn btn-danger' %>
<% end %>
