<div class="row">
  <div class="col-md-12">
    <ul class="card-body">
        <li><%= link_to t('user_util_links.update_address'), 'https://accounts.psu.edu' %></li>
        <li><%= link_to t('user_util_links.feedback'), 'https://libraries.psu.edu/website-feedback' %></li>
        <li><%= link_to t('user_util_links.questions'), 'https://libraries.psu.edu/services/borrow-renew' %></li>
        <li><%= link_to t('user_util_links.borrowing'), 'https://libraries.psu.edu/services/borrow-renew/borrowing-privileges' %></li>
        <li><%= link_to t('user_util_links.user_privacy'), 'https://libraries.psu.edu/services/about-lending-services/user-privacy' %></li>
    </ul>
  </div>
</div>
